.c {
    --br: 35% 2rem;
    --in-br: 7% 3rem;
    --desc-line-n: 5;
    --pic-w: 16rem;
}

.fl {
    display: flex;
    flex-direction: column;
    gap: calc(0.5 * var(--padding));
}

.empcat {
    min-height: 3rem;
}