:root {
  --cianRgb: 85, 176, 179;
  --cian: rgb(85, 176, 179);
  --cian-trans: rgba(85, 176, 179, 0.5);
  --cian-shadow: rgba(85, 176, 179, 0.15);
  --cian-dark: #1f8184;
  --green: #a1d3a7;
  --green-trans: rgba(64, 183, 95, 0.5);
  --green-shadow: rgba(64, 183, 95, 0.15);
  --green-dark: rgb(15, 149, 86);
  --blue: rgb(169, 211, 236);
  --blue-trans: rgba(89, 181, 234, 0.5);
  --blue-dark: rgb(46, 137, 191);
  --blue-shadow: rgba(89, 181, 234, 0.15);
  --light: rgb(245, 250, 246);
  --light-dark: #f0f5f1;
  --light-trans: rgb(240, 245, 241, 0.85);
  --light-shadow: rgb(240, 245, 241, 0.3);
  --dark: rgb(34, 34, 34);
  --gray: #535353;
  --gray-shadow: rgba(143, 148, 144, 0.5);
  --red: rgb(176, 29, 22);
  --color: var(--cian-dark);

  --max-w: 80rem;
  --nav-w: 10rem;
  --nav-h: 0px;
  --gap: 2rem;
  --main-p: 3rem;
  --main-bottom: 5vh;

  --box-shadow: 0 0 1px var(--gray-shadow);

  --p-margin: 0.625em;
  --p-lh: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  font-family: var(--handwritten);
  margin-bottom: 1.75em;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

body {
  background-color: var(--light-dark);
  color: var(--dark);
  line-height: 1.25;
  font-weight: 300;
}

.a,
article a {
  cursor: pointer;
  color: var(--dark);
  font-weight: 400;
  text-decoration: underline;
  transition: color .2s ease;
  text-decoration-thickness: 0.1em;
  text-decoration-color: var(--cian-dark);
  text-underline-offset: 0.15lh;
}

.a:hover,
article a:hover {
  color: var(--cian);
}

footer {
  border-radius: 0 100% 0 0;
  background-color: var(--blue);
  padding-block: calc(1.5 * var(--main-p));
  font-size: 0.75rem;
  position: relative;
}

footer .links {
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}

footer .info {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

footer .info div {
  flex-basis: 100%;
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: center;
  gap: 0.75rem;
}

footer .info i {
  font-size: 1.125rem;
}

footer a,
footer .info i {
  transition: transform .15s ease;
}

footer a:hover,
footer .info i:has(+span:hover) {
  transform: rotate(10deg) scale(1.2);
}

footer .info span {
  cursor: pointer;
  user-select: all;
}

.logo {
  width: 100%;
  max-width: 6rem;
  aspect-ratio: 1/1;
  transition: transform .2s;
}

.logo:hover {
  transform: scale(1.1);
}

.logo path {
  transition: fill .2s ease-in-out;
}

.logo #left,
.logo:hover #right {
  fill: var(--green);
}

.logo #right,
.logo:hover #left {
  fill: var(--blue);
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.75rem 1rem;
  background-color: var(--light);
  border-radius: 1rem;
  visibility: hidden;
  opacity: 0;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  box-shadow: 0 0 3px 1px var(--gray-shadow);
}

.popup::before {
  position: absolute;
  content: '';
  height: 1rem;
  width: 1rem;
  background-color: var(--light);
  bottom: -10%;
  left: 20%;
  transform: rotate(45deg);
}

.popup.enter {
  animation-name: popup;
}

.popup.enter-done {
  opacity: 1;
  visibility: visible;
}

.popup.exit {
  animation-name: popup;
  animation-direction: reverse;
}

.noscroll {
  max-height: 100vh;
  overflow: hidden;
}

b {
  font-weight: 500;
}

strong {
  color: var(--cian-dark);
  font-family: var(--handwritten);
}

@keyframes popup {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20%);
  }

  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
  }
}

@media (max-width: 40rem) {

  :root {
    --nav-h: 6rem;
    --nav-w: 0px;
    --main-p: 2rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  .logo {
    width: 3rem;
    height: 3rem;
  }

  footer .links {
    margin-left: 0;
  }

  footer .info {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}