.m {
    --br: 0 0 100% 0;
    --top-wing: 40vh;
    --main-top: 25vh;

    position: relative;
    padding-top: var(--main-top);
}

.m::before {
    background-color: var(--green);
    height: var(--top-wing);
}

.m.sh {
    --top-wing: 25vh;
    --main-top: var(--top-wing);
}

@media (max-width: 40rem) {
    .m.np {
        --top-wing: calc(40vh + 4rem);
        --main-top: var(--nav-h);
    }
}
