.nav {
    --outer-br: 15% 5rem 5rem 10%;
    --inner-br: 0 30% 4rem 10%;

    position: fixed;
    inset: 0 auto 0 0;
    width: var(--nav-w);
    padding-block: 1rem;
    z-index: 10;
    background-image: linear-gradient(180deg, var(--green), var(--blue));
    border-radius: var(--outer-br);
}

.inner {
    height: 100%;
    padding: 2rem 1rem;
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--inner-br);
    box-shadow: var(--box-shadow);
}

.burger {
    display: none;
}

.menu {
    text-align: center;
}

.menu li {
    margin-block: var(--gap);
}


.logo {
    display: block;
    line-height: 1;
}

@media (max-width: 40rem) {

    .nav {
        --outer-br: 15% 35% 25% 10%;
        --inner-br: 10% 10% 3rem 2rem;
        inset: 2px 0 auto 0;
        padding: 0.5rem;
        width: 100%;
        height: auto;
    }

    .inner {
        padding: 1rem;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
    }

    .menu {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        top: 8rem;
        left: 5vw;
        right: 5vw;
        transform: translateX(50%) translateY(-75%) scale(0);
        transition-property: visibility, opacity, transform;
        transition-duration: .23s;
        transition-timing-function: ease-in-out;
        border-radius: 50% 1rem;
        background-image: linear-gradient(180deg, var(--green), var(--blue));
        z-index: -1;
        padding: 0.75rem 0.5rem;
        box-shadow: 0 0 2px var(--gray-shadow);
    }

    .menu ul {
        padding-block: 1rem;
        border-radius: var(--inner-br);
        background-color: var(--light);
        box-shadow: var(--box-shadow);
    }

    .open .menu {
        visibility: visible;
        opacity: 1;
        transform: translateX(0) translateY(0) scale(1);
    }

    .burger {
        display: block;
        position: relative;
        transform: rotate(90deg);
        font-weight: 400;
        font-size: 1.125rem;
        padding: 1rem;
        color: var(--dark);
    }
}