.c {
    --inset: 0;
    --br: 65% 25% 60% 25%;
    max-width: 40rem;
    margin-inline: auto;
    margin-block: 5rem;
}

.c::before {
    background-color: var(--cian-shadow);
    transform: scaleX(1.75) scaleY(1.45) rotate(10deg);
}

.c h4 {
    text-align: right;
}

.f,
.fl {
    display: flex;
    gap: 1rem;
}

.f {
    flex-direction: column;
}


.fl {
    flex-wrap: wrap;
}

.fl > * {
    flex-basis: 15rem;
    flex-grow: 1;
}

.btn {
    text-align: center;
}