.c {
    position: relative;
    border-radius: var(--br);
    padding: 2rem 3rem;
}

.c::before {
    background-color: var(--shadow);
}

.c:nth-of-type(odd) {
    --bg: var(--green-trans);
    --shadow: var(--green-shadow);
    --br: 25% 85% 25% 100%;
}

.c:nth-of-type(even) {
    --bg: var(--blue-trans);
    --shadow: var(--blue-shadow);
    --br: 85% 25% 100% 25%;
}

.ic {
    --br: 40% 0;
    position: relative;
    aspect-ratio: 1/1;
    z-index: -1;
}

.ic img {
    border-radius: var(--br);
    object-fit: cover;
}

.ic::after {
    content: '';
    position: absolute;
    border-radius: var(--br);
    inset: 0;
    background-color: var(--bg);
    z-index: -3;
    transform: rotate(-6deg);
    transition: transform .3s ease-in-out;
}

.h {
    --br: 0.25rem 100%;
    top: calc(-0.5 * var(--gap));
    left: calc(-0.5 * var(--gap));
    background-color: var(--light);
    box-shadow: var(--box-shadow);
    border-radius: 5% 50% 5% 25%;
    padding: 0.5rem;
    z-index: unset !important;
}

.h::before {
    transform: scale(1.1);
    background-image: linear-gradient(to right, var(--green), var(--blue));
}

.h h5 {
    text-align: center;
    margin-block: 0;
}

.h h5:last-of-type {
    font-size: 0.85rem;
}

.d {
    position: relative;
    top: -5%;
    left: 0;
    width: 100%;
    padding-block: 1.5rem 1rem;
    padding-inline: 2rem 1rem;
    background-color: var(--light);
    box-shadow: var(--box-shadow);
    border-radius: 65vw 25vw 50vw 0;
    transition: transform .4s ease-in-out;
    z-index: 0;
}

.c:hover .d {
    transform: translateY(0) scale(1);
}

.c:hover .ic::after {
    transform: scale(1.1) rotate(1deg);
}

@media (pointer: fine) {
    .d {
        position: absolute;
        bottom: 100%;
        top: unset;
        transform: translateY(50%) scale(0);
    }
}