.c {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--main-p);
}

.g {
    --pb: 5rem !important;
    position: relative;
    padding-bottom: var(--pb);
}

@media (max-width: 40rem) {
    .c {
        display: flex;
        flex-direction: column-reverse;
    }
}