.hb {
    background-image: url("/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.h {
    position: relative;
    background-image: linear-gradient(transparent 30%, var(--light-trans));
}

.h h1,
.h h3 {
    text-align: center;
    margin-block: 0;
}

.h h1 {
    padding-block: 1.25em;
    font-size: 8rem;
}

.h h3,
.h span  {
    color: var(--cian);
}

.h h5 {
    position: absolute;
    top: 10%;
    right: 20%;
    max-width: 10%;
    font-size: 0.75rem;
    text-align: right;
    line-height: 1;
    font-weight: inherit;
    transform: rotate(-5deg);
}

.l {
    --p: 5rem;
    padding: var(--p);
    position: relative;
    background-color: var(--light);
    border-radius: 5% 25%;
    box-shadow: var(--box-shadow);
    font-size: 1.125rem;
}

.fb {
    margin-top: 0;
}

.join {
    width: fit-content;
    margin-inline: auto;
    margin-top: calc(3 * var(--gap));
    padding: 1rem 1.5rem;
}

.join::before,
.join::after {
    transition: transform  var(--tr-dur) ease-in-out;
    background-color: var(--bg);
}


.join::before {
    --bg: var(--green-trans);
    --scale: 1.2;
    --br: 50% 25%;
    inset: 1rem 0 !important;
    --tr-dur: .8s;
}
.join::after {
    --bg: var(--blue-trans);
    --scale: 1.25;
    --br: 25% 50%;
    inset: 0 1.5rem !important;
    --tr-dur: .6s;
}

.join:hover::before,
.join:hover::after {
    transform: scale(var(--scale));
}

.join h2 {
    padding: 0.5rem 1rem;
    margin-block: 0;
    text-align: center;
    background-color: var(--light);
    border-radius: 25%;
    transition-property: color, background-color, transform;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.join:hover h2 {
    background-color: transparent;
    color: var(--light);
    transform: scale(1.1);
}

@media (max-width: 40rem) {

    .l {
        --p: 2rem;
        font-size: 1rem;
    }
}

@media (max-width: 64rem) {
    .h h1 {
        font-size: 18vw;
    }

    .h h3 {
        font-size: 6vw;
    }

    .h h5 {
        top: 1rem;
        right: 1rem;
        max-width: 25%;
    }
}