.h {
    position: relative;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 10vh;
}

.h h1,
.h h3 {
    text-align: center;
}

.h h1 {
    font-size: 8rem;
}

.h h3 {
    font-size: 2rem;
    color: var(--cian);
}

.h span {
    color: var(--cian);
}

.h h5 {
    position: absolute;
    top: 50%;
    left: 90%;
    font-size: 0.75rem;
    text-align: right;
    line-height: 1;
    font-weight: inherit;
    transform: rotate(-5deg);
}

.a {
    padding: 5rem;
    position: relative;
    background-color: var(--light);
    border-radius: 5% 25%;
    box-shadow: var(--box-shadow);
    margin-block: 3rem;
    width: fit-content;
}

.a p::before {
    content: '';
    position: absolute;
    inset: -0.5rem;
    background-image: linear-gradient(to right, var(--green), var(--blue));
    border-radius: 0.5rem 100%;
    transform: rotate(1deg);
    z-index: -1;
}


