.main p {
    --marg: 25%;
    padding: 2rem;
    position: relative;
    background-color: var(--light);
    border-radius: var(--b-rad);
    box-shadow: var(--box-shadow);
    margin-block: 2rem;
    margin-inline: var(--m-inline);
    width: fit-content;
}

.main p:nth-of-type(odd) {
    --m-inline: 0 var(--marg);
    --out-rad: 0.5rem 100%;
    --b-rad: 5% 25%;
    --rot: 1deg;
    --c1: var(--green);
    --c2: var(--blue);
}
.main p:nth-of-type(even) {
    --m-inline: var(--marg) 0;
    --out-rad: 100% 0.5rem;
    --b-rad: 25% 5%;
    --rot: -1deg;
    --c1: var(--blue);
    --c2: var(--green);
}

.main p::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to right, var(--c1), var(--c2));
    border-radius: var(--out-rad);
    transform: rotate(var(--rot));
    z-index: -1;
}
