.g {
    --pic-width: 8rem;

    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--pic-width));
    grid-auto-rows: min-content;
    gap: var(--gap);
    justify-content: center;
}

.g h1 {
    grid-column: 1/-1;
}

.emp {
    grid-column: 1/-1;
    text-align: center;
    padding-block: 15%;
}

@media (min-width: 40rem) {
    .g {
        --pic-width: 12rem;
    }
}

@media (min-width: 64rem) {
    .g {
        --pic-width: 15rem;
    }
}
