.c {
    --br: 10% .25rem;
    position: relative;
    aspect-ratio: 1/1;
    transition: transform .4s;
    background-color: var(--light);
    box-shadow: var(--box-shadow);
    border-radius: var(--br);
}

.c img {
    object-fit: scale-down;
}

.ribbon {
    font-size: 0.75rem;
    bottom: -1rem;
    transform: translateY(100%);
}

.ribbon::before {
    inset: 0 -.25rem;
    border-radius: 15%;
    transform: rotate(-3deg);
}

.ribbon:hover::before {
    transform: scale(1.1) rotate(0deg);
}

.ribbon div {
    border-radius: 10% 10% 20% 20%;
    padding: 0.5rem 0.75rem;
}

.ribbon span {
    font-size: 0.5rem;
}

.c:nth-of-type(even) .ribbon {
    --c1: var(--blue);
    --c2: var(--green);
}


@media (hover: hover) {

    .c:hover {
        transform: scale(1.35);
        z-index: 1;
        box-shadow: 0 0 5px 0 var(--gray-shadow);
    }
    
    .c:hover img {
        cursor: zoom-in;
    }
    
    .c:hover .ribbon {
        visibility: visible;
        opacity: 1;
        cursor: pointer;
        transform: translateY(0);
    }
}