.g {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, 15rem);
    grid-auto-rows: min-content;
    gap: 2rem;
    align-content: center;
    justify-content: center;
}

.emp {
    grid-column: 1/-1;
    text-align: center;
}