.c {
    --br: 10% .25rem;
    position: relative;
    aspect-ratio: 1/1;
    transition: transform .4s;
    background-color: var(--light);
    box-shadow: var(--box-shadow);
    border-radius: var(--br);
}

.c img {
    border-radius: var(--br);
    object-fit: cover;
}

.ribbon {
    --p: 0.5rem 1.25rem;
    font-size: 0.75rem;
    bottom: -1rem;
}

.ribbon span {
    font-size: 0.5rem;
}

.c:nth-of-type(even) .ribbon {
    --c1: var(--blue);
    --c2: var(--green);
}

@media (hover: hover) {

    .ribbon {
        transform: translateY(100%);
    }

    .c:hover {
        transform: scale(1.3);
        z-index: 1;
        box-shadow: 0 0 5px 0 var(--gray-shadow);
    }
    
    .c:hover img {
        cursor: zoom-in;
    }
    
    .c:hover .ribbon {
        visibility: visible;
        opacity: 1;
        cursor: pointer;
        transform: translateY(0);
    }
}