.g {
    --pic-width: 13rem;

    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--pic-width));
    grid-auto-rows: min-content;
    gap: var(--gap);
    align-content: center;
    justify-content: center;
}

.emp {
    grid-column: 1/-1;
    text-align: center;
    padding-block: 15%;
}

@media (max-width: 40rem) {
    .g {
        --pic-width: 7rem;
    }
}

@media (max-width: 64rem) {
    .g {
        --pic-width: 10rem;
    }
}
