.p {
    --fromX: 50%;
    --toX: 0;
    --pad: 1vw;
    --btn-w: 3rem;

    position: fixed;
    inset: 0;
    z-index: 9;
    padding-block: var(--pad);
    padding-left: calc(var(--nav-w) + var(--pad));
    padding-right: var(--pad);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-shadow);
}

.btn,
.prev,
.next {
    position: absolute;
    z-index: 10;
    font-family: var(--handwritten);
    font-size: 1.25rem;
    font-weight: 500;
    min-width: var(--btn-w);
    box-shadow: var(--box-shadow);
    color: var(--cian);
    background-color: var(--light);
    transition: color .2s, background-color .2s;
}

.btn {
    top: 0;
    right: 0;
    border-radius: 100%;
    border-radius: 75% 0;
    padding: 0.75rem 1.25rem;
}

.prev,
.next {
    top: 25%;
    height: 50%;
}

.prev {
    left: var(--pad);
    border-radius: 100vw 0 0 100vw;
}

.next {
    right: var(--pad);
    border-radius: 0 100vw 100vw 0;
}

.c {
    position: relative;
}

.c,
.ic {
    height: 100%;
    width: 100%;
}

.ic {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ici {
    width: fit-content;
    max-width: 100%;
    max-height: 100%;
}

.ici img {
    object-fit: scale-down;
}

.ribbon {
    --p: 1.5rem 2rem;
    font-size: 1.125rem;
    bottom: 0%;
    max-width: 50vw;
    margin-inline: auto;
}

.ribbon.hid {
    visibility: hidden !important;
    opacity: 0 !important;
    transform: translateY(100%) !important;
}

.ribbon div {
    border-radius: 5% 25%;
}

.ribbon span {
    font-size: 0.75rem;
}

.slideLeftIn,
.slideRightIn,
.slideOut {
    animation-name: slidein;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.slideLeftIn {
    --fromX: 50%;
}

.slideRightIn {
    --fromX: -50%;
}

.slideOut {
    animation-direction: reverse;
}

.modalEnter,
.modalExit {
    animation: fadein .3s ease-in-out forwards;
}

.modalExit {
    animation-direction: reverse;
}

@media (max-width: 40rem) {
    .p {
        --py: 0.5rem;
        --btn-w: 2.5rem;

        padding-top: calc(var(--nav-h) + 1rem);
        padding-bottom: 1rem;
    }

    .c {
        margin-left: var(--pad);
    }

    .ribbon {
        --p: 0.75rem 1rem;
        max-width: calc(85vw - 2 * var(--btn-w));
        width: fit-content;
    }

    .prev,
    .next {
        top: unset;
        bottom: 0;
        height: 6rem;
    }

    .ic {
        align-items: flex-start;
    }
}

@media (hover: hover) {

    .btn:hover,
    .prev:hover,
    .next:hover {
        background-color: var(--cian);
        color: var(--light);
    }

    .c:hover .ribbon {
        visibility: visible;
        opacity: 1;
        cursor: pointer;
        transform: translateY(0);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slidein {
    0% {
        transform: translateX(var(--fromX));
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}