.p {
    --fromX: 100%;
    --toX: 0;
    --m-inline: 2vw;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--light-trans);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1rem;
}

.btn,
.prev,
.next {
    position: absolute;
    z-index: 10;
    padding: 0.5rem 1.25rem;
    font-family: var(--handwritten);
    font-size: 1.25rem;
    font-weight: 500;
    box-shadow: var(--box-shadow);
    color: var(--cian);
    background-color: var(--light);
    transition: color .2s, background-color .2s;

}

.btn {
    top: 0;
    right: 0;
    border-radius: 100%;
    border-radius: 75% 0;
}

.prev,
.next {
    top: 20%;
    bottom: 0;
    padding-inline: 1rem;
}

.prev {
    left: 0;
    border-radius: 100vw 0 0 100vw;
}

.next {
    right: 0;
    border-radius: 0 100vw 100vw 0;
}


.c {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: calc(var(--nav-w) + var(--m-inline));
    margin-right: var(--m-inline);
}

.c img {
    object-fit: scale-down;
}

.ribbon {
    --inset: 1rem;
    --p: 2rem;

    font-size: 1.125rem;
    bottom: 0%;
    max-width: 50vw;
    margin-inline: auto;
}

.ribbon::before {
    inset: var(--inset);
    border-radius: 0.125rem 100%;
}

.ribbon div {
    border-radius: 5% 25%;
    padding: var(--p);
}

.ribbon span {
    font-size: 0.75rem;
}

.slideLeftIn,
.slideRightIn,
.slideOut {
    animation-name: slidein;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.slideLeftIn {
    --fromX: 100%;
}

.slideRightIn {
    --fromX: -100%;
}

.slideOut {
    animation-direction: reverse;
}

.modalEnter,
.modalExit {
    animation: fadein .3s ease-in-out forwards;
}

.modalExit {
    animation-direction: reverse;
}

@media (max-width: 40rem) {
    .p {
        padding-top: calc(var(--nav-h) + 1rem);
        padding-bottom: 1rem;
    }

    .c {
        margin-left: var(--m-inline);
    }

    .ribbon {
        --inset: -.25rem;
        --p: 0.125rem 0.75rem;
        max-width: calc(100% - (4 * var(--m-inline) + 2 * 3rem));
    }
}

@media (hover: hover) {

    .btn:hover,
    .prev:hover,
    .next:hover {
        background-color: var(--cian);
        color: var(--light);
    }

    .c:hover .ribbon {
        visibility: visible;
        opacity: 1;
        cursor: pointer;
        transform: translateY(0);
    }

    .ribbon:hover::before {
        transform: scale(1.15) rotate(-3deg);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slidein {
    0% {
        transform: translateX(var(--fromX));
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}