.ribbon {
    --c1: var(--green);
    --c2: var(--blue);
    --p: 0.75rem 1rem;

    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
    transition-property: opacity, transform, visibility;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

.ribbon::before {
    content: '';
    position: absolute;
    inset: 0 -.25rem;
    border-radius: 15%;
    transform: rotate(-2deg);
    background-image: linear-gradient(to right, var(--c1), var(--c2));
    transition: transform .3s ease-in-out;
    z-index: -1;
}

.ribbon div {
    border-radius: 10% 10% 20% 20%;
    padding: var(--p);
    background-color: var(--light);
    box-shadow: var(--box-shadow);
}

.ribbon h5 {
    font-size: inherit;
    margin-block: 0;
    transition: color .2s ease-in-out;
}


@media (hover: hover) {
    .ribbon {
        --p: 0.25rem 0.5rem;
        visibility: hidden;
        opacity: 0;
        transform: translateY(100%);
    }

    .ribbon:hover::before {
        transform: rotate(2deg);
    }
    
    .ribbon:hover h5 {
        color: var(--cian-dark)
    }

}