.c {
    --in-br: 20% 5% 5rem 10%;
    --br: 6rem 75% 15% 75%;
    --desc-line-n: 7;
    --pic-w: 16rem;
}

.ci {
    display: grid;
    grid-template-areas: 'ic h'
        'ic desc';
    grid-template-columns: var(--pic-w) auto;
    grid-template-rows: auto 1fr;
    gap: calc(0.5 * var(--padding)) var(--padding);
}

.h {
    grid-area: h;
}

.ic {
    grid-area: ic;
    align-self: center;
}

.desc {
    grid-area: desc;
}

@media (max-width: 64rem) {
    .ci {
        grid-template-columns: minmax(auto, var(--pic-w));
        grid-template-rows: auto;
        grid-template-areas: 'h'
            'ic'
            'desc';
        gap: calc(0.75 * var(--padding));
    }

    .h h4 {
        margin-left: calc(0.5 * var(--padding));
    }
}

@media (min-width: 40rem) and (max-width: 64rem) {
    .c {
        --pic-w: 20rem;
    }

    .ci {
        grid-template-columns: 1fr;
    }
}