.g {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    align-items: stretch;
    justify-content: center;
}

.g h1 {
    width: 100%;
}

@media (max-width: 40rem) {
    .g {
        align-items: center;
    }
}