.a {
    width: 100%;
    position: relative;
    z-index: 0;
}

.a::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(90deg, var(--green), var(--blue));
    z-index: -1;
    border-radius: 6rem 75% 15% 75%;
    transform: scale(1) rotate(0deg);
    transition: transform .2s ease-in-out;
}

.a:hover::before {
    transform: scale(1.08) rotate(1deg);
}

.art {
    --br: 20% 5% 5rem 10%;
    display: grid;
    grid-template-areas: 'h ic'
                         'desc ic';
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr;
    min-height: 15rem;
    padding: 3rem;
    background-color: var(--light);
    box-shadow: var(--box-shadow);
    border-radius: var(--br);
    overflow: hidden;
}

.h {
    grid-area: h;
}

.ic {
    grid-area: ic;
    position: relative;
    width: 100%;
    height: 100%;    
}

.ic img {
    object-fit: contain;
}

.d {
    font-size: 0.75rem;
    color: var(--gray);
}

.desc {
    grid-area: desc;
    align-self: center;
}
