.h, .t {
    z-index: unset !important;
    background-color: var(--light);
    box-shadow: var(--box-shadow);
}

.h {
    --br: 10%;
    padding: 3rem 2rem;
    border-radius: 3rem 15%;
}

.h::before {
    background-image: linear-gradient(180deg, var(--green-trans), var(--blue-trans));
}

.h h1 {
    margin-block: 0 0.25em;
}

.date {
    width: fit-content;
    margin-inline: 0.5em auto;
    color: var(--gray);
    font-size: 0.75rem;
}

.ic {
    position: relative;
    width: 100%;
    max-height: 100vh;
}

.ic img {
    object-fit: contain;
}

.gg {
    padding-block: 3rem;
}

.t {
    --br: 50% 3rem;
    padding: 5vw;
    max-width: 60rem;
    margin-inline: auto;
    border-radius: 2rem 7%;
}

.t::before {
    background-image: linear-gradient(90deg, var(--green-trans), var(--blue-trans));
    transform: scale(1.02) rotate(-1deg);
}

.ic,
.t {
    margin-block: var(--main-bottom);
}

.back {
    margin-bottom: var(--gap);
}