.h {
    margin-block: 0;
}

.date {
    margin-left: 0.5rem;
    color: var(--gray);
    font-size: 0.75rem;
}

.ic {
    position: relative;
    width: 100%;
    aspect-ratio: 3/1;
}

.ic img {
    object-fit: none;
}

.gg {
    padding-block: 3rem;
}

.back {
    position: absolute;
    top: -5rem;
}