.b {
    border-radius: 2rem 25%;
    padding: 0.75rem 1.25rem;
    font-family: var(--handwritten);
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--light);
    color: var(--cian);
    transition: background-color .2s;
    box-shadow: var(--box-shadow);
}

.b.sm {
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
}

.b:hover {
    background-color: var(--cian);
    color: var(--light);
}

.b.out {
    background-color: var(--light-shadow);
    color: var(--gray);
}

.b.out:hover {
    background-color: var(--light);
    color: var(--cian);
}

.spb {
    --br: 2rem 25%;
    display: inline-block;
    position: relative;
    z-index: 0;
    border-radius: var(--br);
    transition: transform .2s ease-in-out;
}

.spb.loading::before,
.spb.loading::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: var(--br);

}

.spb.loading::before {
    z-index: -1;
    background-image: linear-gradient(0deg, var(--blue), var(--green));
    animation: scale 0.5s infinite alternate;
}

.spb.loading::after {
    z-index: 10;
    background-color: var(--light-trans);
}

.spb:hover {
    transform: scale(1.15);
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}