.b {
    border-radius: 2rem 25%;
    padding: 0.75rem 1.25rem;
    font-family: var(--handwritten);
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--light);
    color: var(--color);
    transition: background-color .2s ease-in, color .4s ease-out;
    box-shadow: var(--box-shadow);
}

.b.sm {
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
}

.spb {
    --br: 2rem 25%;
    display: inline-block;
    border-radius: var(--br);
}

.spb.loading::before {
    background-image: linear-gradient(0deg, var(--blue), var(--green));
    animation: scale 0.5s infinite alternate;
}

.spb.loading::after {
    z-index: 10;
    background-color: var(--light-trans);
}


@media (hover:hover) {    
    .b:hover {
        background-color: var(--color);
        color: var(--light);
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}