.f,
.fl {
    display: flex;
    gap: 1rem;
}

.f {
    --in-br: 1% 25%;
    --ci-bg: var(--light-dark);
    max-width: 45rem;
    margin-inline: auto;
    flex-direction: column;
}


.fl {
    flex-wrap: wrap;
}

.fl > * {
    flex-basis: 15rem;
    flex-grow: 1;
}

.btn {
    --color: var(--color-dark);
    text-align: center;
}

.lbl {
    font-family: var(--handwritten);
    font-size: 1.125rem;
    color: var(--color-dark);
    font-weight: 500;
    margin-block: 0.5rem;
}

.in,
.ta {
    width: 100%;
    font-family: var(--mainFont);
    font-weight: 300;
    font-size: 1rem;
    outline: none;
    border: 1px solid transparent;
    border-radius: 0.25rem 1.25rem;
    box-shadow: var(--box-shadow);
    background-color: var(--light);
    transition: border-color .2s ease-in-out;
}

.in:focus,
.ta:focus {
    border-color: var(--color);
}

.in.err,
.ta.err {
    box-shadow: 0 0 1px var(--red);
}

.in {
    padding: 0.5rem 1.25rem;
}

.ta {
    resize: none;
    min-height: 15rem;
    padding: 1rem 1.5rem;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding-inline: 0.25rem 1rem;
}

.p {
    min-height: 1lh;
    font-size: 0.75rem;
    color: var(--gray);
    text-align: center;
}

.p.err {
    color: var(--red);
}